@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font(
  $family: $font-family-base,
  $size: $font-size-base,
  $weight: $font-weight-regular,
  $line-height: $line-height-base,
  $color: $text-color
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

// paddings
@mixin padding-1920 {
  padding-left: 5.2%;
  padding-right: 5.2%;
}

@mixin padding-768 {
  padding-left: 4%;
  padding-right: 4%;
}

@mixin padding-440 {
  padding-left: 16px;
  padding-right: 16px;
}

@mixin padding-320 {
  padding-left: 8px;
  padding-right: 8px;
}