.projects {

  &__container {
    @include flex-center;
    flex-direction: column;
    text-align: center;
    margin-bottom: rem(200px);

    @include tablets {
      margin-bottom: rem(120px);
    }

    @include phones {
      margin-bottom: rem(88px);
    }
  }

  &__title {
    @include font(
      $size: rem(40px),
      $weight: $font-weight-bold,
    );
    margin-bottom: rem(32px);

    @include phones {
      @include font(
      $size: rem(32px),
      $weight: $font-weight-bold,
    );
    }
  }

  &__subtitle {
    @include font(
      $size: rem(24px)
    );
    margin-bottom: rem(32px);

    @include phones {
      @include font();
    }
  }

  

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(280px), 1fr));
    gap: rem(32px);
    max-width: 100%;
    margin-bottom: rem(32px);
    align-items: stretch;
    justify-content: center;
  }
}

.project-card {
  background-color: $white;
  border: 2px solid $primary-color; 
  border-radius: 16px;
  padding: rem(24px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box; 

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 rem(4px) rem(16px) rgba($primary-color, 0.2);
  }

  &__title {
    @include font(
      $weight: $font-weight-bold,
    );
    margin-bottom: rem(16px);
  }

  &__description {
    @include font();
    min-height: rem(48px);
    margin-bottom: rem(16px);

    @include phones {
      min-height: 0;
    }
  }

  &__tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16px);
    margin-bottom: rem(32px);
  }

  &__tech {
    @include font();
    background-color: $grey;
    padding: 4px 8px;
    border-radius: 32px;
  }

  &__links {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    gap: rem(16px);
  }

  &__link {
    @include font(
      $size: rem(14px)
    );
    display: inline-flex;
    align-items: center;
    gap: 8px;
  
    svg {
      width: rem(16px);
      height: rem(16px);
    }
  }
  
  .project-card__link--github {
    position: relative;
    color: $secondary-color;
    
      &:after {
        content: "";
        position: absolute;
        bottom: -6px;           
        left: 50%;
        transform: translateX(-50%);
        width: 0;            
        height: 2px;         
        background-color: $secondary-color;
        transition: all, 0.3s, ease; 
      }
    
      &:hover:after {
        width: 100%;         
      }
  }
  
  .project-card__link--live {
    position: relative;
    color: $accent-color;       
    svg {
      fill: $accent-color;
    }
  
    &:after {
      content: "";
      position: absolute;
      bottom: -6px;           
      left: 50%;
      transform: translateX(-50%);
      width: 0;            
      height: 2px;         
      background-color: $accent-color;
      transition: all, 0.3s, ease; 
    }
  
    &:hover:after {
      width: 100%;         
    }
  }
}

