.technologies {

  &__container {
    @include flex-center;
    @include padding-1920;
    flex-direction: column;
    text-align: center;
    margin-bottom: rem(200px);

    @include tablets {
      @include padding-768;
      margin-bottom: rem(120px);
    }

    @include phones {
      @include padding-440;
      margin-bottom: rem(88px);
    }
  }

  &__title {
    @include font(
      $size: rem(40px),
      $weight: $font-weight-bold,
    );
    margin-bottom: rem(32px);

    @include phones {
      @include font(
        $size: rem(32px),
        $weight: $font-weight-bold,
    );
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(40px);
    justify-content: center;

    @include phones {
      gap: rem(24px);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: rem(80px);
      height: rem(80px);
      display: block;
      transform-origin: center center;

      @include tablets {
        width: rem(64px);
        height: rem(64px);
      }

      @include phones {
        width: rem(56px);
        height: rem(56px);
      }
    }
  }
}
