// Colors
$primary-color: #6C26B2;
$secondary-color: #3E0789;
$accent-color: #FFD700;
$text-color: #151C3A;
$white: #ffffff;
$grey: #E7E7E7;

// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-h1: rem(48px);
$font-size-h2: rem(40px);
$font-size-h3: rem(32px);
$font-size-body: rem(24px);

$line-height-base: normal;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Breakpoints
$tablets-big: 1024px;
$tablets: 768px;
$phones: 440px;
$phones-mini: 320px;

// z-index
$z-index-menu: 9999; 
