@import url("./normalize.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #151C3A;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

img {
  display: block;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  padding-left: 5.2%;
  padding-right: 5.2%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .main {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.button {
  background-color: #ffffff;
  border: solid 2px #6C26B2;
  border-radius: 16px;
  padding: 12px 32px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #6C26B2;
}
.button:hover {
  background-color: #6C26B2;
  color: #ffffff;
}
.button svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: #6C26B2;
  transition: fill 0.3s ease;
}
.button svg:hover {
  color: #ffffff;
}

.scroll-top {
  width: 48px;
  height: 48px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 32px;
  transform: translateY(20px);
  transition: opacity 0.8s ease, visibility 0.8s ease, background-color 0.8s ease, transform 0.8s ease;
}
.scroll-top svg {
  display: block;
  width: 32px;
  height: 32px;
  color: #ffffff;
}
.scroll-top:hover {
  cursor: pointer;
  border: 2px solid #FFD700;
}
.scroll-top:hover svg {
  color: #FFD700;
}
.scroll-top.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.button:focus {
  outline: none;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5.2%;
  padding-right: 5.2%;
  justify-content: space-between;
  min-height: 80px;
}
.header__logo {
  margin-right: 5rem;
}
.header__logo svg {
  max-height: 33px;
  max-width: 40px;
  display: block;
  color: #6C26B2;
}
.header__nav {
  position: relative;
}
.header__nav .nav__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #6C26B2;
  transform-origin: top right;
  transform: scale(0);
  z-index: 0;
  border-bottom-left-radius: 16px;
}
.header__nav .nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
}
.header__nav .nav__link {
  position: relative;
}
.header__nav .nav__link:hover {
  color: #3E0789;
}
.header__nav .nav__link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #6C26B2;
  transition: all, 0.3s, ease;
}
.header__nav .nav__link:hover:after {
  width: 100%;
}
.header__nav .nav__link:hover::after, .header__nav .nav__link[aria-current=page]::after {
  width: 100%;
}
.header__nav.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
}
.header__nav.is-open .nav__overlay {
  transform: scale(1);
}
.header__nav.is-open .nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.header__nav.is-open .nav__link {
  color: #ffffff;
}
.header__nav.is-open .nav__link:after {
  background-color: #ffffff;
}

.burger-menu {
  display: none;
  cursor: pointer;
}
.burger-menu span {
  display: block;
  width: 24px;
  height: 2px;
  margin: 6px 0;
  background-color: #6C26B2;
  transition: all, 0.5s, ease;
}
.burger-menu.is-open span {
  background-color: #FFD700;
}
.burger-menu.is-open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger-menu.is-open span:nth-child(2) {
  opacity: 0;
}
.burger-menu.is-open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .header__container {
    padding-left: 4%;
    padding-right: 4%;
  }
  .header__nav,
  .header .button {
    display: none;
  }
  .burger-menu {
    display: block;
    z-index: 10000;
  }
  .burger-menu.active span {
    background-color: #FFD700;
  }
  .is-open {
    display: block;
  }
}
@media screen and (max-width: 440px) {
  .header__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.contact-popup.is-visible .contact-popup__backdrop {
  opacity: 1;
  visibility: visible;
}
.contact-popup.is-visible .contact-popup__content {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.contact-popup__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}
.contact-popup__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1001;
  text-align: center;
}
.contact-popup__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.contact-popup__close:hover span {
  background-color: #FFD700;
}
.contact-popup__close span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #6C26B2;
  transform-origin: center center;
}
.contact-popup__close span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
.contact-popup__close span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.contact-popup__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  padding: 24px;
}
.contact-popup__text a {
  color: #3E0789;
}
.contact-popup__text a:hover {
  color: #FFD700;
}
.contact-popup__text a .contact-popup__icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  vertical-align: middle;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5.2%;
  padding-right: 5.2%;
  flex-direction: column;
  text-align: center;
  margin-top: 5.5rem;
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5rem;
    margin-bottom: 7.5rem;
  }
}
@media screen and (max-width: 440px) {
  .hero__container {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4rem;
    margin-bottom: 5.5rem;
  }
}
@media screen and (max-width: 320px) {
  .hero__container {
    margin-top: 3.5rem;
  }
}
.hero__title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 2rem;
}
@media screen and (max-width: 440px) {
  .hero__title {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
  }
}
.hero__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 2rem;
}
.hero__description {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #151C3A;
  max-width: 37.5rem;
}
@media screen and (max-width: 440px) {
  .hero__description {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #151C3A;
  }
}

.hero__container--resume {
  margin-bottom: 7.5rem;
}
@media screen and (max-width: 768px) {
  .hero__container--resume {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5rem;
  }
}
@media screen and (max-width: 440px) {
  .hero__container--resume {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 320px) {
  .hero__container--resume {
    margin-top: 3.5rem;
  }
}

.hero__container--projects {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .hero__container--projects {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 440px) {
  .hero__container--projects {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 320px) {
  .hero__container--projects {
    margin-top: 3.5rem;
  }
}

.technologies__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5.2%;
  padding-right: 5.2%;
  flex-direction: column;
  text-align: center;
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 768px) {
  .technologies__container {
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 7.5rem;
  }
}
@media screen and (max-width: 440px) {
  .technologies__container {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 5.5rem;
  }
}
.technologies__title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 2rem;
}
@media screen and (max-width: 440px) {
  .technologies__title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
  }
}
.technologies__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}
@media screen and (max-width: 440px) {
  .technologies__list {
    gap: 1.5rem;
  }
}
.technologies__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.technologies__item img {
  width: 5rem;
  height: 5rem;
  display: block;
  transform-origin: center center;
}
@media screen and (max-width: 768px) {
  .technologies__item img {
    width: 4rem;
    height: 4rem;
  }
}
@media screen and (max-width: 440px) {
  .technologies__item img {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.projects__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5.2%;
  padding-right: 5.2%;
  flex-direction: column;
  text-align: center;
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 768px) {
  .projects__container {
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 7.5rem;
  }
}
@media screen and (max-width: 440px) {
  .projects__container {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 5.5rem;
  }
}
.projects__title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 2rem;
}
@media screen and (max-width: 440px) {
  .projects__title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
  }
}
.projects__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 2rem;
}
@media screen and (max-width: 440px) {
  .projects__subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #151C3A;
  }
}
.projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 2rem;
  max-width: 100%;
  margin-bottom: 2rem;
  align-items: stretch;
  justify-content: center;
}

.project-card {
  background-color: #ffffff;
  border: 2px solid #6C26B2;
  border-radius: 16px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
}
.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.25rem 1rem rgba(108, 38, 178, 0.2);
}
.project-card__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 1rem;
}
.project-card__description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  min-height: 2rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 440px) {
  .project-card__description {
    min-height: 0;
  }
}
.project-card__tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}
.project-card__tech {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  background-color: #E7E7E7;
  padding: 4px 8px;
  border-radius: 32px;
}
.project-card__links {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.project-card__link {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.project-card__link svg {
  width: 1rem;
  height: 1rem;
}
.project-card .project-card__link--github {
  position: relative;
  color: #3E0789;
}
.project-card .project-card__link--github:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #3E0789;
  transition: all, 0.3s, ease;
}
.project-card .project-card__link--github:hover:after {
  width: 100%;
}
.project-card .project-card__link--live {
  position: relative;
  color: #FFD700;
}
.project-card .project-card__link--live svg {
  fill: #FFD700;
}
.project-card .project-card__link--live:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #FFD700;
  transition: all, 0.3s, ease;
}
.project-card .project-card__link--live:hover:after {
  width: 100%;
}

.footer {
  background-color: #6C26B2;
  color: #ffffff;
  text-align: center;
  padding: 6.5rem 5.2% 32px 5.2%;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  margin-bottom: 2rem;
}
@media screen and (max-width: 320px) {
  .footer__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;
  }
}
.footer__icons {
  display: flex;
  gap: 4.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 320px) {
  .footer__icons {
    gap: 3rem;
  }
}
.footer__icon {
  color: #ffffff;
}
.footer__icon svg {
  width: 3.5rem;
  height: 3.5rem;
  display: block;
}
@media screen and (max-width: 320px) {
  .footer__icon svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.footer__icon:hover {
  color: #FFD700;
}
.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 440px) {
  .footer {
    padding: 6.5rem 13% 32px 13%;
  }
  .footer__icons {
    gap: 2.5rem;
  }
  .footer__icon svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5.2%;
  padding-right: 5.2%;
  flex-direction: column;
  text-align: center;
  margin-bottom: 7.5rem;
}
@media screen and (max-width: 768px) {
  .about {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 440px) {
  .about {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 5rem;
  }
}
.about__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 440px) {
  .about__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
    margin-bottom: 2rem;
  }
}
.about__profile {
  display: flex;
  align-items: center;
  gap: 5.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 440px) {
  .about__profile {
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
}
.about__photo {
  width: 14rem;
  height: 14rem;
}
@media screen and (max-width: 440px) {
  .about__photo {
    width: 12.5rem;
    height: 12.5rem;
  }
}
.about__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
@media screen and (max-width: 440px) {
  .about__info {
    align-items: center;
    gap: 0.5rem;
  }
}
.about__name {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 1rem;
}
.about__contacts-label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
}
.about__contacts {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
@media screen and (max-width: 440px) {
  .about__contacts {
    gap: 2rem;
  }
}
.about__contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  transition: color 0.3s ease;
  color: #6C26B2;
}
.about__contact-link svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #6C26B2;
}
.about__contact-link:hover {
  color: #FFD700;
}
.about__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  max-width: 50rem;
  text-align: justify;
  line-height: 1.5;
}
@media screen and (max-width: 440px) {
  .about__text {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: #151C3A;
    line-height: 1.6;
  }
}

.fullwidth-image {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 7.5rem;
  overflow: hidden;
}
@media screen and (max-width: 440px) {
  .fullwidth-image {
    margin-bottom: 5rem;
  }
}
.fullwidth-image__img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5.2%;
  padding-right: 5.2%;
  flex-direction: column;
  text-align: center;
  margin-bottom: 7.5rem;
}
@media screen and (max-width: 768px) {
  .skills {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 440px) {
  .skills {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 5rem;
  }
}
.skills__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 2rem;
}
@media screen and (max-width: 440px) {
  .skills__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
  }
}
.skills__list {
  text-align: left;
  max-width: 50rem;
}
.skills__item {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 40px;
}
@media screen and (max-width: 440px) {
  .skills__item {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: #151C3A;
    margin-bottom: 1rem;
    padding-left: 24px;
  }
}
.skills__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/sprite.svg#star");
  background-image: url("data:image/svg+xml;utf8,        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>          <path fill='%236C26B2' d='M11.9954 0.926712C11.3204 5.13749 10.7532 7.64062 9.19691 9.19687C7.64066 10.7531 5.13754 11.3203 0.926758 11.9953C5.13754 12.6703 7.64066 13.2375 9.19691 14.7984C10.7532 16.3547 11.3204 18.8578 11.9954 23.0719C12.6704 18.8578 13.2375 16.3547 14.7938 14.7937C16.3547 13.2375 18.8579 12.6703 23.0719 11.9953C18.8579 11.3203 16.3547 10.7531 14.7985 9.19687C13.2375 7.64062 12.6704 5.13749 11.9954 0.926712Z'/>        </svg>");
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 440px) {
  .skills__item::before {
    width: 1rem;
    height: 1rem;
  }
}

.education {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5.2%;
  padding-right: 5.2%;
  flex-direction: column;
  text-align: center;
  margin-bottom: 7.5rem;
}
@media screen and (max-width: 768px) {
  .education {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 440px) {
  .education {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 5rem;
  }
}
.education__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 2rem;
}
@media screen and (max-width: 440px) {
  .education__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
  }
}
.education__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.education__item {
  max-width: 50rem;
  text-align: center;
}
.education__degree {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 1rem;
}
@media screen and (max-width: 440px) {
  .education__degree {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
  }
}
.education__school {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 440px) {
  .education__school {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
  }
}
.education__period {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  line-height: 1.5;
}

.cta-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5.2%;
  padding-right: 5.2%;
  flex-direction: column;
  text-align: center;
  margin-bottom: 7.5rem;
}
@media screen and (max-width: 768px) {
  .cta-projects {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 440px) {
  .cta-projects {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 5rem;
  }
}
.cta-projects__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 2rem;
}
@media screen and (max-width: 440px) {
  .cta-projects__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    color: #151C3A;
  }
}

.projects-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 7.5rem;
  padding-left: 5.2%;
  padding-right: 5.2%;
}
@media screen and (max-width: 768px) {
  .projects-detail {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 440px) {
  .projects-detail {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.projects-detail__list {
  display: grid;
  gap: 5rem;
}
@media screen and (max-width: 440px) {
  .projects-detail__list {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 2.5rem;
  }
}

.project-detail {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title  title" "slider body" "links  links";
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 3rem;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(231, 231, 231, 0.5);
  justify-items: center;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .project-detail {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "slider" "body" "links";
    padding: 1.5rem;
  }
}
@media screen and (max-width: 440px) {
  .project-detail {
    padding: 1rem;
    row-gap: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .project-detail {
    padding: 0.5rem;
  }
}
.project-detail__title {
  grid-area: title;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  color: #151C3A;
  text-align: center;
}
.project-detail .slider {
  grid-area: slider;
  display: grid;
  grid-template-rows: 18.75rem 5rem;
  row-gap: 1.5rem;
  width: 100%;
  max-width: 40.25rem;
}
@media screen and (max-width: 768px) {
  .project-detail .slider {
    grid-template-rows: 18.75rem;
  }
}
.project-detail .slider__main {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(231, 231, 231, 0.5);
}
.project-detail .slider__slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
}
.project-detail .slider__slide.active {
  opacity: 1;
  z-index: 1;
}
.project-detail .slider__thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .project-detail .slider__thumbs {
    display: none;
  }
}
.project-detail .slider__thumb {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 0.3s ease, border-color 0.3s ease;
}
.project-detail .slider__thumb.active {
  opacity: 1;
  border-color: #FFD700;
}
.project-detail__body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.project-detail__tech {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 16px;
}
.project-detail__tech-item {
  color: #6C26B2;
}
.project-detail__description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  margin-bottom: 16px;
  line-height: 1.5;
}
.project-detail__feature {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1.5rem;
}
.project-detail__feature::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.project-detail__links {
  grid-area: links;
  display: flex;
  justify-content: center;
  gap: 48px;
}
.project-detail__link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #151C3A;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
  gap: 8px;
  position: relative;
}
.project-detail__link svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
.project-detail__link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #6C26B2;
  transition: all, 0.3s, ease;
}
.project-detail__link:hover {
  color: #3E0789;
}
.project-detail__link:hover:after {
  width: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}